.bibtex-entry {
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.bibtex-error {
    color: red;
}

.bibtex-author {
}

.bibtex-title {
    font-weight: bold;
}

.bibtex-conference {
    font-style: oblique;
}

.bibtex-journal {
    font-style: oblique;
}

.bibtex-book {
    font-style: oblique;
}

.bibtex-note {
    font-style: oblique;
}
