.pc
build
dist
*stamp
.classpath
pegasus.spec
.project
.pydevproject
.externalToolBuilders
.settings
var
.idea
.venv

*.o
*.lo
*.la
*.al
.libs
#*#
.#*
.*.rej
*.rej
.*~
*~
.DS_Store
*.pyc
*.pyo
*.so
*.so.[0-9]*
*.a 
.*.swp
*.iml
