#!/usr/bin/env cwl-runner
cwlVersion: v1.0
class: CommandLineTool
baseCommand: $INPUT_DIR/get_file_sizes.sh
inputs:
    file1:
        type: File
        inputBinding:
            position: 0
    
    file2:
        type: File
        inputBinding:
            position: 1

outputs:
    file_sizes:
        type: File
        outputBinding:
            glob: "file_sizes.txt"
