
[main]
mode: full
notification_email: rynge@isi.edu

[tiles]
survey:    2mass
band:      j
min_lon:  -5.0
max_lon:   5.0
min_lat:  -5.0
max_lat:   5.0
size:      5.0
overlap:   1.0

[local]
work_dir:         /scratch/rynge/galactic-plane/clemson
montage_location: /home/rynge/software/Montage_v3.3_mats

[cluster]
name:             Clemson
gatekeeper:       osg-gw.clemson.edu
storage_proto:    gsifto
storage_url:      gsiftp://osg-gw.clemson.edu
storage_mount:    /common1/osg/data/engage/tmp/rynge
scheduler:        condor
work_dir:         /common1/osg/data/engage/tmp/rynge
pegasus_home:     /common1/osg/app/engage/rynge/pegasus/3.1.0cvs
globus_location:  /common1/osg/grid/globus
montage_location: /common1/osg/app/engage/rynge/montage/3.3_mats

[output]
name:             CCG
gatekeeper:       obelix.isi.edu
gridftp_server:   obelix.isi.edu
output_dir:       /nfs/ccg3/projects/ipac/galactic-plane/outputs


