{% extends "base.html" %}
{% block title %}Workflow Details{% endblock %}
{% block javascript_includes %}
<script type="text/javascript" src="{{ url_for ('static', filename='js/highcharts/highcharts.js') }}"></script>
{% endblock %}
{% block javascript_init %}
<script type="text/javascript" charset="utf-8">
var chart;
var chartOptions;
var chartData = 
{
	Running: 
	{
		jobs: {{ counts ['others'] - counts ['others_workflow'] }},
		workflow: {{ counts ['others_workflow'] }},
		total: {{ counts ['others'] }}
	},
	Successful: 
	{
		jobs: {{ counts ['success'] - counts ['success_workflow'] }},
		workflow: {{ counts ['success_workflow'] }},
		total: {{ counts ['success'] }}
	},
	Failed: 
	{
		jobs: {{ counts ['fail'] - counts ['fail_workflow'] }},
		workflow: {{ counts ['fail_workflow'] }},
		total: {{ counts ['fail'] }}
	}
}
$(document).ready (function () 
{
	// Radialize the colors
    Highcharts.getOptions ().colors = $.map (Highcharts.getOptions ().colors, function (color) 
    {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color (color).brighten (-0.3).get ('rgb')] // darken
            ]
        };
    });
	
	$('#jobs_tabs').tabs (
	{
		ajaxOptions: 
		{
			error: function (xhr, status, index, anchor) 
			{
				$(anchor.hash).html ("We encountered an error loading this tab.");
			}
		},
		load: function(event, ui)
		{ 
			if (ui.index == 0)
			{
				if ($('#sub_workflows').html() == '')
				{
					$('#sub_workflows').html('No sub-workflows found.')	
				}
				else
				{
					$('#sub_workflows_list').dataTable ({"bJQueryUI" : true, "sPaginationType": "full_numbers"});
				}
			}
			else if (ui.index == 1)
			{
				if ($('#failed_jobs').html() == '')
				{
					$('#failed_jobs').html('No failed jobs.')
				}
				else
				{
					$('#failed_jobs_list').dataTable ({"bJQueryUI" : true, "sPaginationType": "full_numbers"});
				}
			}
			else if (ui.index == 2)
			{
				if ($('#running_jobs').html() == '')
				{
					$('#running_jobs').html('No running jobs.')
				}
				else
				{
					$('#running_jobs_list').dataTable ({"bJQueryUI" : true, "sPaginationType": "full_numbers"});
				}
			}
			else if (ui.index == 3)
			{
				if ($('#successful_jobs').html() == '')
				{
					$('#successful_jobs').html('No successful jobs.')
				}
				else
				{
					$('#successful_jobs_list').dataTable ({"bJQueryUI" : true, "sPaginationType": "full_numbers"});
				}
			}
		} 
	});
	
	chartOptions =  
	{
		chart: 
		{
			renderTo: 'workflow_graph',
			type: 'pie',
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			width: 350,
			height: 250
		},
		title: 
		{
			text: 'Job Status (Per Workflow)'
		},
		credits : 
		{
			enabled : false
		},
		tooltip: 
		{
			formatter: function() 
			{
				var str = '';
				str += '<b>Jobs:</b> ' + chartData [this.point.name].jobs + "<br\>";
				str += '<b>Workflows:</b> ' + chartData [this.point.name].workflow + "<br\>";
				str += '<b>Total:</b> ' + chartData [this.point.name].total;
				return str;
			}
		},
		plotOptions: 
		{
			pie: 
			{
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: 
				{
					enabled: false
				},
				showInLegend: true,
				dataLabels: 
				{
					color: '#000000',
					formatter: function() 
					{
						var str = '';
						str += '<b>Jobs:</b> ' + chartData [this.point.name].jobs + "<br\>";
						str += '<b>Workflows:</b> ' + chartData [this.point.name].workflow + "<br\>";
						str += '<b>Total:</b> ' + chartData [this.point.name].total;
						return str;
					}
				}
			}
		},
		series: 
		[{
			name: 'Job Status',
			data: [
				{
					name: 'Running',
					y: {{ counts ['others'] }},
					sliced: true,
					selected: true
				},
				{
					name: 'Failed',
					y: {{ counts ['fail'] }}
				},
				{
					name: 'Successful',
					y: {{ counts ['success'] }}
				}
			]
		}]
	};
    
chart = new Highcharts.Chart (chartOptions);
verticalTableInit ('#workflow_text_info');
verticalTableInit ('#workflow_stats_info');
});
</script>
{% endblock %}
{% block navigation_bar %} | <a href="{{ url_for ('workflow', root_wf_id = root_wf_id, wf_id = wf_id) }}">Workflow</a>{% endblock %} 
{% block title_header %}Workflow Details ({{ workflow.wf_uuid }}){% endblock %}
{% block content %}
<div id="workflow_details" style="overflow:auto;">
	<table>
	<tr>
	<td>
		<table id="workflow_text_info" class="workflow_info">
			<tr>
				<th>Label</th>
				<td>{{ workflow.dax_label }}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{% if workflow.root_wf_id ==  workflow.wf_id %}root-wf {% else %}sub-wf{% endif %}</td>
			</tr>
			<tr>
				<th>Progress</th>
				<td>{{ workflow.state }}</td>
			</tr>
			<tr>
				<th>Submit Host</th>
				<td>{{ workflow.submit_hostname }}</td>
			</tr>
			<tr>
				<th>User</th>
				<td>{{ workflow.user }}</td>
			</tr>
			<tr>
				<th>Submit Directory</th>
				<td>{{ workflow.submit_dir }}</td>
			</tr>
			<tr>
				<th>Wall Time</th>
				<td>{{ statistics ['wall-time']|time_to_str }}</td>
			</tr>
			<tr>
				<th>Cumulative Wall Time</th>
				<td>{{ statistics ['cum-time']|time_to_str }}</td>
			</tr>
		</table>
	</td>
	<td>
		<div id="workflow_graph" class="workflow_job_graph"></div>
	</td>
	</tr>
	<tr>
		<td colspan="2">
		
		</td>
	</tr>	
	</table>
	<table id="workflow_stats_info" class="workflow_info">
		<tr>
			<th>Successful Jobs</th>
			<td>{{ statistics ['successful-jobs']|time_to_str }}</td>
		</tr>
		<tr>
			<th>Failed Jobs</th>
			<td>{{ statistics ['failed-jobs']|time_to_str }}</td>
		</tr>
		<tr>
			<th>Total Jobs</th>
			<td>{{ statistics ['total-jobs']|time_to_str }}</td>
		</tr>
	</table>
	<br/>
	<a href="{{ url_for ('charts', root_wf_id = root_wf_id, wf_id = wf_id) }}" class="ui-state-default" style="text-decoration: none; padding: 0px 5px 0px 5px;">Charts</a>
</div>
<br/>
<div id="jobs_tabs_wrapper">
	<div id="jobs_tabs">
		<ul>
			<li>
				<a href="{{ url_for ('sub_workflows', root_wf_id = root_wf_id, wf_id = wf_id) }}" title="sub_workflows">Sub Workflows</a>
			</li>
			<li>
				<a href="{{ url_for ('failed_jobs', root_wf_id = root_wf_id, wf_id = wf_id) }}" title="failed_jobs">Failed</a>
			</li>
			<li>
				<a href="{{ url_for ('running_jobs', root_wf_id = root_wf_id, wf_id = wf_id) }}" title="running_jobs">Running</a>
			</li>
			<li>
				<a href="{{ url_for ('successful_jobs', root_wf_id = root_wf_id, wf_id = wf_id) }}" title="successful_jobs">Successful</a>
			</li>
		</ul>
		<div id="sub_workflows"></div>
		<div id="failed_jobs"></div>
		<div id="running_jobs"></div>
		<div id="successful_jobs"></div>
	</div>
</div>
{% endblock %}
