#pool	universe job-mgr-string				url-prefix						workdir			gridstart				LRC pointer

ucnew	vanilla	 e.cs.uchicago.edu/jobmanager-new-condor	gsiftp://e.cs.uchicago.edu/home/voeckler/vdldemo	/home/voeckler/vdldemo	/home/voeckler/bin/kickstart	rls://gainly.mcs.anl.gov
ucnew	standard e.cs.uchicago.edu/jobmanager-new-condor	gsiftp://e.cs.uchicago.edu/home/voeckler/vdldemo	/home/voeckler/vdldemo	null				null
ucnew	globus	 e.cs.uchicago.edu/jobmanager-new-condor	gsiftp://e.cs.uchicago.edu/home/voeckler/vdldemo	/home/voeckler/vdldemo	/home/voeckler/bin/kickstart	null
ucnew	transfer e.cs.uchicago.edu/jobmanager-new		gsiftp://e.cs.uchicago.edu/home/voeckler/vdldemo	/home/voeckler/vdldemo	/home/voeckler/bin/kickstart	null

anl	vanilla	 chalant.mcs.anl.gov/jobmanager-condor	gsiftp://chalant.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/homes/voeckler/bin/kickstart	rls://gainly.mcs.anl.gov
anl	standard chalant.mcs.anl.gov/jobmanager-condor	gsiftp://chalant.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	null				null
anl	globus	 chalant.mcs.anl.gov/jobmanager-condor	gsiftp://chalant.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/homes/voeckler/bin/kickstart	null
anl	transfer chalant.mcs.anl.gov/jobmanager		gsiftp://chalant.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/homes/voeckler/bin/kickstart	null

dgc	vanilla	 dg0cm.mcs.anl.gov/jobmanager-pbs	gsiftp://dg0cm.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/home/voeckler/bin/kickstart	rls://gainly.mcs.anl.gov
dgc	globus	 dg0cm.mcs.anl.gov/jobmanager-pbs	gsiftp://dg0cm.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/home/voeckler/bin/kickstart	null
dgc	transfer dg0cm.mcs.anl.gov/jobmanager-fork	gsiftp://dg0cm.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/home/voeckler/bin/kickstart	null

jazz	vanilla  jglobus.lcrc.anl.gov/jobmanager-pbs	gsiftp://jglobus.lcrc.anl.gov/home/voeckler/vdldemo	/home/voeckler/vdldemo	/home/voeckler/bin/kickstart	rls://gainly.mcs.anl.gov
jazz	globus	 jglobus.lcrc.anl.gov/jobmanager-pbs	gsiftp://jglobus.lcrc.anl.gov/home/voeckler/vdldemo	/home/voeckler/vdldemo	/home/voeckler/bin/kickstart	null
jazz	transfer jglobus.lcrc.anl.gov/jobmanager-pbs	gsiftp://jglobus.lcrc.anl.gov/home/voeckler/vdldemo	/home/voeckler/vdldemo	/home/voeckler/bin/kickstart	null

local	vanilla	 chalant.mcs.anl.gov/jobmanager-condor	gsiftp://chalant.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/homes/voeckler/bin/kickstart	rls://gainly.mcs.anl.gov
local	globus	 chalant.mcs.anl.gov/jobmanager-condor	gsiftp://chalant.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/homes/voeckler/bin/kickstart	null
local	transfer chalant.mcs.anl.gov/jobmanager		gsiftp://chalant.mcs.anl.gov/homes/voeckler/vdldemo	/homes/voeckler/vdldemo	/homes/voeckler/bin/kickstart	null
