[all]
max_wall_time=30

file_url=file://
file_site=sharedfs

executable_url=file://
executable_site=sharedfs
#executable_installed=true

execution_site=sharedfs
staging_site=sharedfs
output_site=sharedfs

input_file = /lizard/scratch-90-days

#planner_args=-vvvvvv

#clusters_size = 
#clusters_maxruntime = 
