{% extends "base.html" %}
{% block title %}Job Details{% endblock %}
{% block javascript_init %}
<script type="text/javascript" charset="utf-8">
$(document).ready (function () 
{
	$('#invocations_tabs').tabs (
	{
		error: function (xhr, status, index, anchor) 
		{
			$(anchor.hash).html ("We encountered an error loading this tab.");
		},
		load: function(event, ui) 
		{ 
			if (ui.index == 0)
			{
				if ($('#failed_invocations').html() == '')
				{
					$('#failed_invocations').html('No failed invocations.')
				}
				else
				{
					$('#failed_invocations_list').dataTable ({"bJQueryUI" : true, "sPaginationType": "full_numbers"});	
				}
				
			}
			else if (ui.index == 1)
			{
				if ($('#successful_invocations').html() == '')
				{
					$('#successful_invocations').html('No successful invocations.')
				}
				else
				{
					$('#successful_invocations_list').dataTable ({"bJQueryUI" : true, "sPaginationType": "full_numbers"});	
				}
			}
		} 
	});
	
	$('#job_text_info').dataTable (
	{
		"bJQueryUI" : true,
		"bFilter" : false,
		"bPaginate" : false,
		"bInfo" : false,
		"bSort" : false
	});
	
	$('#job_console_info').dataTable (
	{
		"bJQueryUI" : true,
		"bFilter" : false,
		"bPaginate" : false,
		"bInfo" : false,
		"bSort" : false
	});
})
</script>    
{% endblock %}
{% block navigation_bar %} | <a href="{{ url_for ('workflow', root_wf_id = root_wf_id, wf_id = wf_id) }}">Workflow</a> | <a href="{{ url_for ('job', root_wf_id = root_wf_id, wf_id = wf_id, job_id = job_id) }}">Job</a>{% endblock %}
{% block title_header %}Job Details{% endblock %}
{% block content %}
<div id="job_details">
	<div id="job_text">
		<table id="job_text_info">
			<thead>
				<th>Label</th>
				<th>Type</th>
				<th>Exit Code</th>
				<th>Stdout</th>
				<th>Stderr</th>
			</thead>
			<tr>
				<td><strong>{{ job.exec_job_id  }}</strong></td>
				<td>{% if job.clustered %}Clustered{% else %}Compute{% endif %}</td>
				<td>{{ job.exitcode  }}</td>
				<td><a href="{{ url_for ('stdout', root_wf_id = root_wf_id, wf_id = wf_id, job_id = job_id) }}">stdout</a></td>
				<td><a href="{{ url_for ('stderr', root_wf_id = root_wf_id, wf_id = wf_id, job_id = job_id) }}">stderr</a></td>
			</tr>
		</table>
	</div>
</div>
<br/>
<table id="job_console_info">
	<thead>
		<th>Stdout File</th>
		<th>Stderr File</th>
	</thead>
	<tr>
		<td>{{ job.stdout_file }}</td>
		<td>{{ job.stderr_file }}</td>
	</tr>
</table>
<br/>
<div id="invocation_table_wrapper">
	<div id="invocations_tabs">
		<ul>
			<li>
				<a href="{{ url_for ('failed_invocations', root_wf_id = root_wf_id, wf_id = wf_id, job_id = job_id) }}" title="failed_invocations">Failed</a>
			</li>
			<li>
				<a href="{{ url_for ('successful_invocations', root_wf_id = root_wf_id, wf_id = wf_id, job_id = job_id) }}" title="successful_invocations">Successful</a>
			</li>
		</ul>
		<div id="failed_invocations"></div>
		<div id="successful_invocations"></div>
	</div>
</div>
{% endblock %}
