Source: pegasus
Section: science
Priority: extra
Maintainer: Pegasus Development Team <pegasus-support@isi.edu>
Build-Depends: debhelper (>= 7), ant, openjdk-8-jdk | openjdk-7-jdk | openjdk-6-jdk, perl, python, asciidoc, xsltproc, fop
Standards-Version: 3.9.4
Homepage: http://pegasus.isi.edu

Package: pegasus
Architecture: any
Depends: openjdk-8-jre | openjdk-8-jre-headless | openjdk-7-jre | openjdk-7-jre-headless | openjdk-6-jre | openjdk-6-jre-headless,
  perl, python, ${shlibs:Depends}, ${misc:Depends}
Recommends: condor, globus
Description: Workflow management system for HTCondor, Grid, and Clouds
 The Pegasus project encompasses a set of technologies the help
 workflow-based applications execute in a number of different
 environments including desktops, campus clusters, grids, and now
 clouds. Scientific workflows allow users to easily express
 multi-step computations, for example retrieve data from a
 database, reformat the data, and run an analysis. Once an
 application is formalized as a workflow the Pegasus Workflow
 Management Service can map it onto available compute resources
 and execute the steps in appropriate order.

