Source: pegasus
Section: science
Priority: extra
Maintainer: Pegasus Development Team <pegasus-support@isi.edu>
Build-Depends: debhelper (>= 9),
       ant,
       asciidoc,
       docbook-dsssl,
       docbook-utils,
       docbook-xml,
       docbook-xsl,
       fop,
       libpq-dev,
       libssl1.0-dev | libssl-dev,
       default-jdk (>= 2:1.8),
       perl,
       python,
       python-dev,
       python-openssl,
       python-setuptools,
       r-base-dev,
       texlive-latex-base, texlive-fonts-recommended,
       xsltproc,
       zlib1g-dev
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
Homepage: https://pegasus.isi.edu

Package: pegasus
Architecture: any
Depends: default-jre (>= 2:1.8) | default-jre-headless (>= 2:1.8),
  perl, python, python-openssl, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Recommends: condor
Description: Workflow management system for HTCondor, Grid, and Clouds
 The Pegasus project encompasses a set of technologies the help
 workflow-based applications execute in a number of different
 environments including desktops, campus clusters, grids, and now
 clouds. Scientific workflows allow users to easily express
 multi-step computations, for example retrieve data from a
 database, reformat the data, and run an analysis. Once an
 application is formalized as a workflow the Pegasus Workflow
 Management Service can map it onto available compute resources
 and execute the steps in appropriate order.

