#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1


# make sure packages are compatible with out repo tools
# https://stackoverflow.com/questions/71196872/how-do-i-build-a-deb-without-zstd-compression-in-ubuntu-21-10
override_dh_builddeb:
	dh_builddeb -- -Zgzip


build: build-stamp


build-stamp:
	dh_testdir
	python3 -m build --wheel --no-isolation
	touch build-stamp


install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	python3 -m pip install \
		--no-deps \
		--no-index \
		--root debian/pegasus \
		--prefix /usr \
		dist/pegasus_wms-*.whl

	# Strip C binaries
	strip debian/pegasus/usr/bin/pegasus-cluster   || true
	strip debian/pegasus/usr/bin/pegasus-keg       || true
	strip debian/pegasus/usr/bin/pegasus-kickstart || true

	# Remove JAR license files that bloat the package
	rm -f debian/pegasus/usr/lib/python*/dist-packages/Pegasus/data/java/COPYING.*
	rm -f debian/pegasus/usr/lib/python*/dist-packages/Pegasus/data/java/EXCEPTIONS.*
	rm -f debian/pegasus/usr/lib/python*/dist-packages/Pegasus/data/java/LICENSE.*
	rm -f debian/pegasus/usr/lib/python*/dist-packages/Pegasus/data/java/NOTICE.*

	# No pyc files in debian packages
	find debian/pegasus/ -name \*.pyc -exec rm {} \;
	find debian/pegasus/ -depth -name __pycache__ -exec rm -rf {} \;


# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf _cmake_build dist/
	dh_clean


%:
	echo "dh $@"
	exit 1


.PHONY: build binary-indep binary-arch binary install clean
