[main]
mode: full

[tiles]
survey:    2mass
band:      j
min_lon:  -0.2
max_lon:   0.2
min_lat:  -0.6
max_lat:   0.6
size:      1.0
overlap:   0.1

[local]
work_dir:         [WORK_DIR]
montage_location: /ccg/software/montage/Montage_v3.3_mats

[cluster]
name:             CCG
globus_location:  /ccg/software/globus/5.0.4
montage_location: /ccg/software/montage/Montage_v3.3_mats
gridftp_server:   colo-vm63.isi.edu
work_dir:         /lizard/scratch-90-days/bamboo/galactic-plane-test

[output]
name:             CCG_Data
storage_proto:    gridftp
storage_url:      gsiftp://colo-vm63.isi.edu
storage_mount:    /lizard/scratch-90-days/bamboo/outputs

