[main]
mode: full

[tiles]
survey:    2mass
band:      j
min_lon:  -1.0
max_lon:   1.0
min_lat:  -1.0
max_lat:   1.0
size:      5.0
overlap:   1.0

[local]
work_dir:         /lfs1/scratch/[USER]
montage_location: /ccg/software/montage/Montage_v3.3_mats
x509_user_proxy:  /tmp/x509up_u[USERID]

[cluster]
name:             CCG
pegasus_home:     /ccg/software/pegasus/dev/trunk
globus_location:  /ccg/software/globus/5.0.4
montage_location: /ccg/software/montage/Montage_v3.3_mats

[staging]
name:             Obelix
storage_proto:    gridftp
storage_url:      gsiftp://obelix.isi.edu
storage_mount:    /data/scratch

[output]
name:             CCG_Data
storage_proto:    gridftp
storage_url:      gsiftp://ccg-data.isi.edu
storage_mount:    /nfs/ccg3/scratch

