
[tiles]
survey:   2mass
band:     j
min_lon: -10.0
max_lon:  10.0
min_lat: -10.0
max_lat:  10.0
size:      5.0
overlap:   1.0

[local]
work_dir:         /runs/galactic-plane/firefly
montage_location: /home/rynge/Projects/Montage/src/Montage_v3.2_beta6_mats

[cluster]
name:             Firefly
gatekeeper:       ff-grid3.unl.edu
scheduler:        pbs
gridftp_server:   ff-gridftp3.unl.edu
work_dir:         /panfs/panasas/CMS/data/engage/tmp
pegasus_home:     /panfs/panasas/CMS/app/engage/rynge/pegasus/3.0.0cvs
globus_location:  /opt/osgwn1.2.4/globus
montage_location: /panfs/panasas/CMS/app/engage/rynge/montage/3.2_beta6_mats

[output]
name:             CCG_Data
gatekeeper:       ccg-data.isi.edu
gridftp_server:   ccg-data.isi.edu
output_dir:       /exports/ccg/ccg1/projects/ipac/galactic-plane-outputs/firefly


