[all]
max_wall_time=30

file_url=gsiftp://cartman.isi.edu
file_site=local

executable_url=file://
executable_site=condorpool
#executable_installed=

local_site_protocol=gsiftp
local_site_url=gsiftp://cartman.isi.edu

execution_site=condorpool
staging_site=local
output_site=local

#input_file = /nfs/ccg3/scratch/testing/inputs

#planner_args=-vvvvvv

#clusters_size = 
#clusters_maxruntime = 
