[all]
max_wall_time=30

file_url=gsiftp://colo-vm63.isi.edu
file_site=local

executable_url=file://
executable_site=local
#executable_installed=

local_site_protocol=gsiftp
local_site_url=gsiftp://colo-vm63.isi.edu

execution_site=condorpool
staging_site=local
output_site=local

#input_file = /lizard/scratch-90-days/testing/inputs

#planner_args=-vvvvvv

#clusters_size = 
#clusters_maxruntime = 
