# ------- Python 3.6 -------
boto3==1.23.10;python_version=='3.6'
botocore==1.26.10;python_version=='3.6'
certifi==2025.4.26;python_version=='3.6'
charset_normalizer==2.0.12;python_version=='3.6'
click==8.0.4;python_version=='3.6'
dataclasses==0.8;python_version=='3.6'
Flask_Caching==1.10.1;python_version=='3.6'
Flask==2.0.3;python_version=='3.6'
idna==3.10;python_version=='3.6'
importlib_metadata==4.8.3;python_version=='3.6'
itsdangerous==2.0.1;python_version=='3.6'
Jinja2==3.0.3;python_version=='3.6'
jmespath==0.10.0;python_version=='3.6'
MarkupSafe==2.0.1;python_version=='3.6'
pamela==1.0.0;python_version=='3.6'
pika==1.3.1;python_version=='3.6'
PyMySQL==0.10.1;python_version=='3.6'
python_dateutil==2.9.0.post0;python_version=='3.6'
requests==2.27.1;python_version=='3.6'
s3transfer==0.5.2;python_version=='3.6'
six==1.17.0;python_version=='3.6'
sqlalchemy==1.4.54;python_version=='3.6'
typing_extensions==4.1.1;python_version=='3.6'
urllib3==1.26.20;python_version=='3.6'
Werkzeug==2.0.3;python_version=='3.6'
zipp==3.6.0;python_version=='3.6'
# ------- Python 3.7 -------
boto3==1.33.13;python_version=='3.7'
botocore==1.33.13;python_version=='3.7'
cachelib==0.9.0;python_version=='3.7'
certifi==2026.1.4;python_version=='3.7'
charset_normalizer==3.4.4;python_version=='3.7'
click==8.1.8;python_version=='3.7'
Flask_Caching==2.1.0;python_version=='3.7'
Flask==2.2.5;python_version=='3.7'
globus_sdk==3.41.0;python_version=='3.7'
idna==3.10;python_version=='3.7'
importlib_metadata==6.7.0;python_version=='3.7'
importlib_resources==5.12.0;python_version=='3.7'
itsdangerous==2.1.2;python_version=='3.7'
jinja2==3.1.6;python_version=='3.7'
jmespath==1.0.1;python_version=='3.7'
MarkupSafe==2.1.5;python_version=='3.7'
pamela==1.0.0;python_version=='3.7'
pika==1.3.2;python_version=='3.7'
PyJWT==2.8.0;python_version=='3.7'
PyMySQL==0.10.1;python_version=='3.7'
python_dateutil==2.9.0.post0;python_version=='3.7'
requests==2.31.0;python_version=='3.7'
s3transfer==0.8.2;python_version=='3.7'
six==1.17.0;python_version=='3.7'
sqlalchemy==2.0.46;python_version=='3.7'
typing_extensions==4.7.1;python_version=='3.7'
urllib3==1.26.20;python_version=='3.7'
Werkzeug==2.2.3;python_version=='3.7'
zipp==3.15.0;python_version=='3.7'
# ------- Python 3.8 -------
boto3==1.37.38;python_version=='3.8'
botocore==1.37.38;python_version=='3.8'
cachelib==0.13.0;python_version=='3.8'
certifi==2026.1.4;python_version=='3.8'
charset_normalizer==3.4.4;python_version=='3.8'
click==8.1.8;python_version=='3.8'
Flask_Caching==2.3.1;python_version=='3.8'
Flask==2.2.5;python_version=='3.8'
globus_sdk==3.65.0;python_version=='3.8'
idna==3.11;python_version=='3.8'
importlib_metadata==8.5.0;python_version=='3.8'
importlib_resources==6.4.5;python_version=='3.8'
itsdangerous==2.2.0;python_version=='3.8'
jinja2==3.1.6;python_version=='3.8'
jmespath==1.0.1;python_version=='3.8'
MarkupSafe==2.1.5;python_version=='3.8'
pamela==1.0.0;python_version=='3.8'
pika==1.3.2;python_version=='3.8'
PyJWT==2.9.0;python_version=='3.8'
PyMySQL==0.10.1;python_version=='3.8'
python_dateutil==2.9.0.post0;python_version=='3.8'
requests==2.32.4;python_version=='3.8'
s3transfer==0.11.5;python_version=='3.8'
six==1.17.0;python_version=='3.8'
sqlalchemy==2.0.46;python_version=='3.8'
typing_extensions==4.13.2;python_version=='3.8'
urllib3==1.26.20;python_version=='3.8'
werkzeug==3.0.6;python_version=='3.8'
zipp==3.20.2;python_version=='3.8'
# ------- Python 3.9 -------
boto3==1.42.55;python_version=='3.9'
botocore==1.42.55;python_version=='3.9'
cachelib==0.13.0;python_version=='3.9'
certifi==2026.1.4;python_version=='3.9'
charset_normalizer==3.4.4;python_version=='3.9'
click==8.1.8;python_version=='3.9'
Flask_Caching==2.3.1;python_version=='3.9'
Flask==2.2.5;python_version=='3.9'
globus_sdk==3.65.0;python_version=='3.9'
idna==3.11;python_version=='3.9'
importlib_metadata==8.7.1;python_version=='3.9'
itsdangerous==2.2.0;python_version=='3.9'
jinja2==3.1.6;python_version=='3.9'
jmespath==1.1.0;python_version=='3.9'
markupsafe==3.0.3;python_version=='3.9'
pamela==1.0.0;python_version=='3.9'
pika==1.3.2;python_version=='3.9'
pyjwt==2.11.0;python_version=='3.9'
PyMySQL==0.10.1;python_version=='3.9'
python_dateutil==2.9.0.post0;python_version=='3.9'
requests==2.32.5;python_version=='3.9'
s3transfer==0.16.0;python_version=='3.9'
six==1.17.0;python_version=='3.9'
sqlalchemy==2.0.46;python_version=='3.9'
typing_extensions==4.15.0;python_version=='3.9'
urllib3==1.26.20;python_version=='3.9'
werkzeug==3.0.6;python_version=='3.9'
zipp==3.23.0;python_version=='3.9'
# ------- Python 3.10 -------
boto3==1.42.55;python_version=='3.10'
botocore==1.42.55;python_version=='3.10'
cachelib==0.13.0;python_version=='3.10'
certifi==2026.1.4;python_version=='3.10'
charset_normalizer==3.4.4;python_version=='3.10'
click==8.3.1;python_version=='3.10'
Flask_Caching==2.3.1;python_version=='3.10'
Flask==2.2.5;python_version=='3.10'
globus_sdk==3.65.0;python_version=='3.10'
idna==3.11;python_version=='3.10'
itsdangerous==2.2.0;python_version=='3.10'
jinja2==3.1.6;python_version=='3.10'
jmespath==1.1.0;python_version=='3.10'
markupsafe==3.0.3;python_version=='3.10'
pamela==1.0.0;python_version=='3.10'
pika==1.3.2;python_version=='3.10'
pyjwt==2.11.0;python_version=='3.10'
PyMySQL==0.10.1;python_version=='3.10'
python_dateutil==2.9.0.post0;python_version=='3.10'
requests==2.32.5;python_version=='3.10'
s3transfer==0.16.0;python_version=='3.10'
six==1.17.0;python_version=='3.10'
sqlalchemy==2.0.46;python_version=='3.10'
typing_extensions==4.15.0;python_version=='3.10'
urllib3==2.6.3;python_version=='3.10'
werkzeug==3.0.6;python_version=='3.10'
# ------- Python 3.11 -------
boto3==1.42.55;python_version=='3.11'
botocore==1.42.55;python_version=='3.11'
cachelib==0.13.0;python_version=='3.11'
certifi==2026.1.4;python_version=='3.11'
charset_normalizer==3.4.4;python_version=='3.11'
click==8.3.1;python_version=='3.11'
Flask_Caching==2.3.1;python_version=='3.11'
Flask==2.2.5;python_version=='3.11'
globus_sdk==3.65.0;python_version=='3.11'
idna==3.11;python_version=='3.11'
itsdangerous==2.2.0;python_version=='3.11'
jinja2==3.1.6;python_version=='3.11'
jmespath==1.1.0;python_version=='3.11'
markupsafe==3.0.3;python_version=='3.11'
pamela==1.0.0;python_version=='3.11'
pika==1.3.2;python_version=='3.11'
pyjwt==2.11.0;python_version=='3.11'
PyMySQL==0.10.1;python_version=='3.11'
python_dateutil==2.9.0.post0;python_version=='3.11'
requests==2.32.5;python_version=='3.11'
s3transfer==0.16.0;python_version=='3.11'
six==1.17.0;python_version=='3.11'
sqlalchemy==2.0.46;python_version=='3.11'
typing_extensions==4.15.0;python_version=='3.11'
urllib3==2.6.3;python_version=='3.11'
werkzeug==3.0.6;python_version=='3.11'
# ------- Python 3.12 -------
boto3==1.42.55;python_version=='3.12'
botocore==1.42.55;python_version=='3.12'
cachelib==0.13.0;python_version=='3.12'
certifi==2026.1.4;python_version=='3.12'
charset_normalizer==3.4.4;python_version=='3.12'
click==8.3.1;python_version=='3.12'
Flask_Caching==2.3.1;python_version=='3.12'
Flask==2.2.5;python_version=='3.12'
globus_sdk==3.65.0;python_version=='3.12'
idna==3.11;python_version=='3.12'
itsdangerous==2.2.0;python_version=='3.12'
jinja2==3.1.6;python_version=='3.12'
jmespath==1.1.0;python_version=='3.12'
markupsafe==3.0.3;python_version=='3.12'
pamela==1.0.0;python_version=='3.12'
pika==1.3.2;python_version=='3.12'
pyjwt==2.11.0;python_version=='3.12'
PyMySQL==0.10.1;python_version=='3.12'
python_dateutil==2.9.0.post0;python_version=='3.12'
requests==2.32.5;python_version=='3.12'
s3transfer==0.16.0;python_version=='3.12'
six==1.17.0;python_version=='3.12'
sqlalchemy==2.0.46;python_version=='3.12'
typing_extensions==4.15.0;python_version=='3.12'
urllib3==2.6.3;python_version=='3.12'
werkzeug==3.0.6;python_version=='3.12'
# ------- Python 3.13 -------
boto3==1.42.55;python_version=='3.13'
botocore==1.42.55;python_version=='3.13'
cachelib==0.13.0;python_version=='3.13'
certifi==2026.1.4;python_version=='3.13'
charset_normalizer==3.4.4;python_version=='3.13'
click==8.3.1;python_version=='3.13'
Flask_Caching==2.3.1;python_version=='3.13'
Flask==2.2.5;python_version=='3.13'
globus_sdk==3.65.0;python_version=='3.13'
idna==3.11;python_version=='3.13'
itsdangerous==2.2.0;python_version=='3.13'
jinja2==3.1.6;python_version=='3.13'
jmespath==1.1.0;python_version=='3.13'
markupsafe==3.0.3;python_version=='3.13'
pamela==1.0.0;python_version=='3.13'
pika==1.3.2;python_version=='3.13'
pyjwt==2.11.0;python_version=='3.13'
PyMySQL==0.10.1;python_version=='3.13'
python_dateutil==2.9.0.post0;python_version=='3.13'
requests==2.32.5;python_version=='3.13'
s3transfer==0.16.0;python_version=='3.13'
six==1.17.0;python_version=='3.13'
sqlalchemy==2.0.46;python_version=='3.13'
typing_extensions==4.15.0;python_version=='3.13'
urllib3==2.6.3;python_version=='3.13'
werkzeug==3.0.6;python_version=='3.13'
# ------- Python 3.14 -------
boto3==1.42.55;python_version=='3.14'
botocore==1.42.55;python_version=='3.14'
cachelib==0.13.0;python_version=='3.14'
certifi==2026.1.4;python_version=='3.14'
charset_normalizer==3.4.4;python_version=='3.14'
click==8.3.1;python_version=='3.14'
Flask_Caching==2.3.1;python_version=='3.14'
Flask==2.2.5;python_version=='3.14'
globus_sdk==3.65.0;python_version=='3.14'
idna==3.11;python_version=='3.14'
itsdangerous==2.2.0;python_version=='3.14'
jinja2==3.1.6;python_version=='3.14'
jmespath==1.1.0;python_version=='3.14'
markupsafe==3.0.3;python_version=='3.14'
pamela==1.0.0;python_version=='3.14'
pika==1.3.2;python_version=='3.14'
pyjwt==2.11.0;python_version=='3.14'
PyMySQL==0.10.1;python_version=='3.14'
python_dateutil==2.9.0.post0;python_version=='3.14'
requests==2.32.5;python_version=='3.14'
s3transfer==0.16.0;python_version=='3.14'
six==1.17.0;python_version=='3.14'
sqlalchemy==2.0.46;python_version=='3.14'
typing_extensions==4.15.0;python_version=='3.14'
urllib3==2.6.3;python_version=='3.14'
werkzeug==3.0.6;python_version=='3.14'
