<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for ('static', filename='favicon.ico') }}">

    {% block head %}
    <!-- Stylesheets -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Stardos+Stencil'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.0.1/datatables.min.css"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}"/>
    {% block css_includes %}{% endblock %}
    {% endblock %}
</head>
<body>
{% include "header.html" %}
<article>
    <div class="container">
        <section class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-bottom: 0px;">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for ('.index') }}">
                                <span class="fas fa-home fa-lg"></span>
                            </a>
                        </li>
                        {% block navigation_bar %}{% endblock %}
                    </ol>
                </nav>
            </div>
        </section>
        <section>
            <h3>{% block title_header %}{% endblock %}</h3>
            <hr>
        </section>
        {% block content %} {% endblock %}
    </div>
</article>
{% include "footer.html" %}
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.0.1/datatables.min.js"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='js/script.js') }}"></script>
{% block javascript_includes %}{% endblock %}
{% block javascript_init %}{% endblock %}
</body>
</html>
