<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for ('static', filename='favicon.ico') }}">

    {% block head %}
        <!-- Stylesheets -->
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Stardos+Stencil'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}"/>
        {% block css_includes %}{% endblock %}
    {% endblock %}
</head>
<body>
{% include "header.html" %}
<article>
    <div class="container-fluid">
        <section class="row">
            <section class="col-sm-4 col-md-3">
                <h3>
                    File Browser
                </h3>
            </section>
            <section class="col-sm-8 col-md-9">
                <ol class="breadcrumb list-unstyled" style="margin-bottom: 0px;">
                    <li class="breadcrumb-item">
                        <a href="{{ url_for ('.index') }}">
                            <span class="fas fa-home fa-lg"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ url_for ('.workflow', root_wf_id = root_wf_id, wf_id = wf_id) }}">Workflow</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Browser</li>
                </ol>
            </section>
        </section>
        <section class="row">
            <section class="col-sm-4 col-md-3">
                <div class="file-list">
                    <div class="d-flex justify-content-center">
                    <div class="spinner-border text-warning" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                </div>
            </section>
            <section class="col-sm-8 col-md-9">
                <pre id="file-contents" class="bg-light p-3">Click a file to view it's contents.</pre>
            </section>
        </section>
    </div>
</article>
{% include "footer.html" %}
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='js/script.js') }}"></script>
{% block javascript_includes %}{% endblock %}
{% block javascript_init %}
<script>
$(function () {
    var folder_struct = {};

    function folderStructure(folders, path, collapse) {
        var urlPrefix = '{{ url_for('.file_view', root_wf_id=root_wf_id, wf_id=wf_id, path='') }}';
        collapse = collapse === undefined ? false : collapse;

        var directories = folders['dirs'];
        var files = folders['files'];

        var ul = $('<ul></ul>');

        if (collapse) {
            ul.hide();
        }

        for (var i = 0; directories && i < directories.length; ++i) {
            var li = $('<li class="directory collapsed" id="' + directories[i] + '"></li>');
            directories[i] = directories[i].split('/');
            directories[i] = directories[i][directories[i].length - 1];

            li.text(directories[i]);
            ul.append(li);
        }

        for (var i = 0; files && i < files.length; ++i) {
            var li = $('<li class="text-nowrap"></li>');

            files[i] = files[i].split('/');
            files[i] = files[i][files[i].length - 1];

            var a = $('<a>' + files[i] + '</a>');
            var url = urlPrefix + path + '/' + files[i];
            url = url.replace(/\/{2,}/g, '/');
            a.attr('href', url);

            li.append(a);
            ul.append(li);
        }

        return ul;
    }

    function loadFileList(path, async, collapsed) {
        var url_template = '{{ url_for('.file_list', root_wf_id=root_wf_id, wf_id=wf_id, path=":::") }}';
        async = async === undefined ? true : async;
        collapsed = collapsed === undefined ? true : collapsed;

        if (path in folder_struct) {
            return;
        }

        $.ajax({
            url: url_template.replace(/:::/g, path),
            dataType: 'json',
            async: async,

            success: function (folders) {
                var e = folderStructure(folders, path, collapsed);

                if (path == '') {
                    var ul = $('<ul class="directory">/</ul>');
                    ul.append(e);
                    $('.file-list').html(ul);
                    folder_struct['/'] = true;
                } else {
                    var dir = '#' + path.replace(/\//g, '\\/');
                    $(dir).append(e);
                    $(dir).removeClass('collapsed');
                    folder_struct[path] = true;
                }

                /*
                 * Event Handler Registration
                 */
                $('.file-list li.directory').click(function (event) {
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var e = $(this);
                    e.children('ul').toggle();
                    e.toggleClass('collapsed');

                    loadFileList(e.attr('id'), false, false);

                });

                $('.file-list li').click(function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                });

                $('.file-list li a').click(function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                    onFileViewClick($(this).attr('href'));
                });
            },
            error: function (e) {
                var errorJSON = JSON.parse(e.responseText);
                if (errorJSON.code) {
                    $('.file-list').text(errorJSON.code + ', Message: ' + errorJSON.message);
                }
            }
        });
    }

    function onFileViewClick(url) {
        $.ajax({
            url: url,
            dataType: 'text',
            success: function (data) {

                if (data.length === 0) {
                    data = 'Empty file';
                }

                $('#file-contents').text(data);
            },
            error: function () {
                $('#file-contents').text('Error occurred while loading file');
            }
        });
    }

    {% if init_file %}
        loadFileList('', false, false);
        {%  set splits = init_file.lstrip('/').split('/')[:-1] %}
        {%  for i in range(splits|length) %}
            loadFileList('{{ splits[:i + 1]|join('/') }}', false, false);
        {% endfor %}
        onFileViewClick("{{ url_for ('.file_view', root_wf_id = root_wf_id, wf_id = wf_id, path = init_file.lstrip('/')) }}");
    {%  else %}
        loadFileList('', true, false);
    {% endif %}
});
</script>
{% endblock %}
</body>
</html>
